Technological Institute of the Philippines | Quezon City - Computer Engineering
--- | ---
Course Code: | CPE 032
Code Title: | Big Data Engineering
1st Semester | AY 2025-2026
<hr> | <hr>
<u>**Hands-on Activity 1.2**</u> | <u>**Advance Dataframe Operations**</u>
**Name** | Pascual, Ken Leonard
**Section** | CPE31S3
**Date Performed**: 12 August 2025  |
**Date Submitted**: 12 August 2025|
**Instructor**: | Engr. Robin Valenzuela
<hr> | <hr>

#Procedure

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("AdvancedDFOps").getOrCreate()

Upload the online_retail_ii.csv from Kaggle into your Google Drive.

Mount Google Drive in Colab and read the CSV:

In [33]:
!ls "/content/drive/My Drive/SCHOOLFILES/CPE31/CPE032/HOA1.2"

 Hands-on-Activity-1.2.pdf  'Pascual, Ken Leonard_Hands-on-Act-1.2-Big Data'
 online_retail_II.csv

In [14]:
from google.colab import drive
drive.mount('/content/drive')
retail_df = spark.read.csv("/content/drive/MyDrive/SCHOOLFILES/CPE31/CPE032/HOA1.2/online_retail_II.csv", header=True, inferSchema=True)
retail_df.printSchema()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
root
 |-- Invoice: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- Price: double (nullable = true)
 |-- Customer ID: double (nullable = true)
 |-- Country: string (nullable = true)

1. Merge data from two years of sales into a single DataFrame.

In [15]:
"""
The dataframe already contains merged data from two years of sales
"""
retail_df.show(5)

+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+
|Invoice|StockCode|         Description|Quantity|        InvoiceDate|Price|Customer ID|       Country|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+
| 489434|    85048|15CM CHRISTMAS GL...|      12|2009-12-01 07:45:00| 6.95|    13085.0|United Kingdom|
| 489434|   79323P|  PINK CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|
| 489434|   79323W| WHITE CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|
| 489434|    22041|"RECORD FRAME 7""...|      48|2009-12-01 07:45:00|  2.1|    13085.0|United Kingdom|
| 489434|    21232|STRAWBERRY CERAMI...|      24|2009-12-01 07:45:00| 1.25|    13085.0|United Kingdom|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+
only showing top 5 rows

2. First, split the dataset by year:

In [19]:
from pyspark.sql.functions import year


retail_df = retail_df.withColumn("Year", year("InvoiceDate"))

# Split into separate DataFrames by year
retail_2009 = retail_df.filter(retail_df.Year == 2009)
retail_2010 = retail_df.filter(retail_df.Year == 2010)
retail_2011 = retail_df.filter(retail_df.Year == 2011)

In [18]:
#2009
retail_2009.show(5)

+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+----+
|Invoice|StockCode|         Description|Quantity|        InvoiceDate|Price|Customer ID|       Country|Year|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+----+
| 489434|    85048|15CM CHRISTMAS GL...|      12|2009-12-01 07:45:00| 6.95|    13085.0|United Kingdom|2009|
| 489434|   79323P|  PINK CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|2009|
| 489434|   79323W| WHITE CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|2009|
| 489434|    22041|"RECORD FRAME 7""...|      48|2009-12-01 07:45:00|  2.1|    13085.0|United Kingdom|2009|
| 489434|    21232|STRAWBERRY CERAMI...|      24|2009-12-01 07:45:00| 1.25|    13085.0|United Kingdom|2009|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+----+
only showing top 5 rows

In [20]:
#2010
retail_2010.show(5)

+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+----+
|Invoice|StockCode|         Description|Quantity|        InvoiceDate|Price|Customer ID|       Country|Year|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+----+
| 493410|  TEST001|This is a test pr...|       5|2010-01-04 09:24:00|  4.5|    12346.0|United Kingdom|2010|
|C493411|    21539|RETRO SPOTS BUTTE...|      -1|2010-01-04 09:43:00| 4.25|    14590.0|United Kingdom|2010|
| 493412|  TEST001|This is a test pr...|       5|2010-01-04 09:53:00|  4.5|    12346.0|United Kingdom|2010|
| 493413|    21724|PANDA AND BUNNIES...|       1|2010-01-04 09:54:00| 0.85|       NULL|United Kingdom|2010|
| 493413|    84578|ELEPHANT TOY WITH...|       1|2010-01-04 09:54:00| 3.75|       NULL|United Kingdom|2010|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+----+
only showing top 5 rows

In [21]:
#2011
retail_2011.show(5)

+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+----+
|Invoice|StockCode|         Description|Quantity|        InvoiceDate|Price|Customer ID|       Country|Year|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+----+
| 539993|    22386|JUMBO BAG PINK PO...|      10|2011-01-04 10:00:00| 1.95|    13313.0|United Kingdom|2011|
| 539993|    21499|  BLUE POLKADOT WRAP|      25|2011-01-04 10:00:00| 0.42|    13313.0|United Kingdom|2011|
| 539993|    21498| RED RETROSPOT WRAP |      25|2011-01-04 10:00:00| 0.42|    13313.0|United Kingdom|2011|
| 539993|    22379|RECYCLING BAG RET...|       5|2011-01-04 10:00:00|  2.1|    13313.0|United Kingdom|2011|
| 539993|    20718|RED RETROSPOT SHO...|      10|2011-01-04 10:00:00| 1.25|    13313.0|United Kingdom|2011|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+----+
only showing top 5 rows

3. Perform a full outer join on the "Customer ID" column:

In [22]:
from pyspark.sql.functions import year, col

df_2009 = retail_df.filter(year(col("InvoiceDate")) == 2009)
df_2010 = retail_df.filter(year(col("InvoiceDate")) == 2010)

# Full outer join on Customer ID

joined_df = df_2009.join(df_2010, on=["Customer ID"], how="full_outer")
# Keep only one "Customer ID"

In [85]:
df_2009.show(5)

+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+----+
|Invoice|StockCode|         Description|Quantity|        InvoiceDate|Price|Customer ID|       Country|Year|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+----+
| 489434|    85048|15CM CHRISTMAS GL...|      12|2009-12-01 07:45:00| 6.95|    13085.0|United Kingdom|2009|
| 489434|   79323P|  PINK CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|2009|
| 489434|   79323W| WHITE CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|2009|
| 489434|    22041|"RECORD FRAME 7""...|      48|2009-12-01 07:45:00|  2.1|    13085.0|United Kingdom|2009|
| 489434|    21232|STRAWBERRY CERAMI...|      24|2009-12-01 07:45:00| 1.25|    13085.0|United Kingdom|2009|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+----+
only showing top 5 rows

In [84]:
df_2010.show(5)

+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+----+
|Invoice|StockCode|         Description|Quantity|        InvoiceDate|Price|Customer ID|       Country|Year|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+----+
| 493410|  TEST001|This is a test pr...|       5|2010-01-04 09:24:00|  4.5|    12346.0|United Kingdom|2010|
|C493411|    21539|RETRO SPOTS BUTTE...|      -1|2010-01-04 09:43:00| 4.25|    14590.0|United Kingdom|2010|
| 493412|  TEST001|This is a test pr...|       5|2010-01-04 09:53:00|  4.5|    12346.0|United Kingdom|2010|
| 493413|    21724|PANDA AND BUNNIES...|       1|2010-01-04 09:54:00| 0.85|       NULL|United Kingdom|2010|
| 493413|    84578|ELEPHANT TOY WITH...|       1|2010-01-04 09:54:00| 3.75|       NULL|United Kingdom|2010|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+----+
only showing top 5 rows

Union Operations: A union stacks DataFrames vertically but only works if their schemas match exactly in column names, order, and data types.

In [86]:
union_df = df_2009.union(df_2010)
union_df.show()

+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+----+
|Invoice|StockCode|         Description|Quantity|        InvoiceDate|Price|Customer ID|       Country|Year|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+----+
| 489434|    85048|15CM CHRISTMAS GL...|      12|2009-12-01 07:45:00| 6.95|    13085.0|United Kingdom|2009|
| 489434|   79323P|  PINK CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|2009|
| 489434|   79323W| WHITE CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|2009|
| 489434|    22041|"RECORD FRAME 7""...|      48|2009-12-01 07:45:00|  2.1|    13085.0|United Kingdom|2009|
| 489434|    21232|STRAWBERRY CERAMI...|      24|2009-12-01 07:45:00| 1.25|    13085.0|United Kingdom|2009|
| 489434|    22064|PINK DOUGHNUT TRI...|      24|2009-12-01 07:45:00| 1.65|    13085.0|United Kingdom|2009|
| 489434|    21871| SAVE THE PLANET MUG|      24|2009-12-01 07:45:00| 1.25|    13085.0|United Kingdom|2009|
| 489434|    21523|FANCY FONT HOME S...|      10|2009-12-01 07:45:00| 5.95|    13085.0|United Kingdom|2009|
| 489435|    22350|           CAT BOWL |      12|2009-12-01 07:46:00| 2.55|    13085.0|United Kingdom|2009|
| 489435|    22349|DOG BOWL , CHASIN...|      12|2009-12-01 07:46:00| 3.75|    13085.0|United Kingdom|2009|
| 489435|    22195|HEART MEASURING S...|      24|2009-12-01 07:46:00| 1.65|    13085.0|United Kingdom|2009|
| 489435|    22353|LUNCHBOX WITH CUT...|      12|2009-12-01 07:46:00| 2.55|    13085.0|United Kingdom|2009|
| 489436|   48173C|DOOR MAT BLACK FL...|      10|2009-12-01 09:06:00| 5.95|    13078.0|United Kingdom|2009|
| 489436|    21755|LOVE BUILDING BLO...|      18|2009-12-01 09:06:00| 5.45|    13078.0|United Kingdom|2009|
| 489436|    21754|HOME BUILDING BLO...|       3|2009-12-01 09:06:00| 5.95|    13078.0|United Kingdom|2009|
| 489436|    84879|ASSORTED COLOUR B...|      16|2009-12-01 09:06:00| 1.69|    13078.0|United Kingdom|2009|
| 489436|    22119| PEACE WOODEN BLO...|       3|2009-12-01 09:06:00| 6.95|    13078.0|United Kingdom|2009|
| 489436|    22142|CHRISTMAS CRAFT W...|      12|2009-12-01 09:06:00| 1.45|    13078.0|United Kingdom|2009|
| 489436|    22296|HEART IVORY TRELL...|      12|2009-12-01 09:06:00| 1.65|    13078.0|United Kingdom|2009|
| 489436|    22295|HEART FILIGREE DO...|      12|2009-12-01 09:06:00| 1.65|    13078.0|United Kingdom|2009|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+----+
only showing top 20 rows

Advanced Column Operations: Functions like withColumn, year, and struct allow creation of new calculated fields and nested structures without altering the original data.

In [88]:
from pyspark.sql.functions import month, struct

retail_df = retail_df.withColumn("TotalPrice", col("Quantity") * col("Price")) \
                     .withColumn("Year", year(col("InvoiceDate"))) \
                     .withColumn("Month", month(col("InvoiceDate"))) \
                     .withColumn("ProductInfo", struct(col("StockCode"), col("Description")))
retail_df.show(5)

+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+------------------+----+-----+--------------------+
|Invoice|StockCode|         Description|Quantity|        InvoiceDate|Price|Customer ID|       Country|        TotalPrice|Year|Month|         ProductInfo|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+------------------+----+-----+--------------------+
| 489434|    85048|15CM CHRISTMAS GL...|      12|2009-12-01 07:45:00| 6.95|    13085.0|United Kingdom|              83.4|2009|   12|{85048, 15CM CHRI...|
| 489434|   79323P|  PINK CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|              81.0|2009|   12|{79323P, PINK CHE...|
| 489434|   79323W| WHITE CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|              81.0|2009|   12|{79323W,  WHITE C...|
| 489434|    22041|"RECORD FRAME 7""...|      48|2009-12-01 07:45:00|  2.1|    13085.0|United Kingdom|100.80000000000001|2009|   12|{22041, "RECORD F...|
| 489434|    21232|STRAWBERRY CERAMI...|      24|2009-12-01 07:45:00| 1.25|    13085.0|United Kingdom|              30.0|2009|   12|{21232, STRAWBERR...|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+------------------+----+-----+--------------------+
only showing top 5 rows

Working with Arrays & Maps: Aggregating values into arrays or maps enables storing complex, multi-value attributes inside a single DataFrame column.

In [92]:
from pyspark.sql.functions import collect_list, create_map

products_per_customer = retail_df.groupBy("Customer ID") \
    .agg(collect_list("Description").alias("ProductsBought"))

maps_per_customer = retail_df.groupBy("Customer ID") \
    .agg(collect_list("StockCode").alias("Codes"),
         collect_list("Quantity").alias("Quantities"))

In [93]:
products_per_customer.show(5)

+-----------+--------------------+
|Customer ID|      ProductsBought|
+-----------+--------------------+
|       NULL|[invcd as 84879?,...|
|    12351.0|[WRAP MONSTER FUN...|
|    12354.0|[JUMBO BAG ALPHAB...|
|    12356.0|[SET OF 36 DOILIE...|
|    12358.0|[MUSHROOM BLUE HO...|
+-----------+--------------------+
only showing top 5 rows

In [95]:
maps_per_customer.show(5)

+-----------+--------------------+--------------------+
|Customer ID|               Codes|          Quantities|
+-----------+--------------------+--------------------+
|       NULL|[84292, 18010, 21...|[17, -770, -720, ...|
|    12351.0|[22707, 22706, 22...|[25, 25, 25, 25, ...|
|    12354.0|[23201, 23204, 23...|[10, 10, 10, 4, 4...|
|    12356.0|[22416, 22938, 22...|[12, 12, 12, 8, 9...|
|    12358.0|[21482, 21481, 85...|[6, 6, 12, 12, 60...|
+-----------+--------------------+--------------------+
only showing top 5 rows

Aggregations and Analytics: Grouping and using aggregate functions such as sum or window functions enables advanced insights like top customers and time-based trends.

In [31]:
from pyspark.sql.functions import sum as _sum

top_customers = retail_df.groupBy("Customer ID") \
    .agg(_sum("TotalPrice").alias("TotalSpent")) \
    .orderBy(col("TotalSpent").desc()) \
    .limit(5)

In [96]:
top_customers.show(5)

+-----------+------------------+
|Customer ID|        TotalSpent|
+-----------+------------------+
|       NULL|2638958.1799997296|
|    18102.0| 598215.2200000001|
|    14646.0| 523342.0700000004|
|    14156.0|296564.69000000024|
|    14911.0|  270248.529999999|
+-----------+------------------+

# Supplementary Activity

1. Use the same SparkSession from the main activity — do not create a new one.

2. Load the dataset into a DataFrame (retail_df) and display its schema to confirm correct column
names and types.

In [73]:
from google.colab import drive
drive.mount('/content/drive')
retail_df = spark.read.csv("/content/drive/MyDrive/SCHOOLFILES/CPE31/CPE032/HOA1.2/online_retail_II.csv", header=True, inferSchema=True)
retail_df.printSchema()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
root
 |-- Invoice: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- Price: double (nullable = true)
 |-- Customer ID: double (nullable = true)
 |-- Country: string (nullable = true)

In [74]:
retail_df.count()

1067371

3. Data Cleaning:
* a. 3.1 Remove rows with null in "Customer ID", "Invoice", or "Price".
* b. 3.2 Filter out transactions where Quantity or Price is less than or equal to zero.

In [75]:
from pyspark.sql import Row
retail_dropna = retail_df.na.drop()
retail_dropna = retail_dropna.filter((col("Quantity") > 0) & (col("Price") > 0))
retail_dropna.show(5)

+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+
|Invoice|StockCode|         Description|Quantity|        InvoiceDate|Price|Customer ID|       Country|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+
| 489434|    85048|15CM CHRISTMAS GL...|      12|2009-12-01 07:45:00| 6.95|    13085.0|United Kingdom|
| 489434|   79323P|  PINK CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|
| 489434|   79323W| WHITE CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|
| 489434|    22041|"RECORD FRAME 7""...|      48|2009-12-01 07:45:00|  2.1|    13085.0|United Kingdom|
| 489434|    21232|STRAWBERRY CERAMI...|      24|2009-12-01 07:45:00| 1.25|    13085.0|United Kingdom|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+
only showing top 5 rows

In [76]:
#this should be less than the value output from retail_df.count()
retail_dropna.count()

805549

4. Feature Engineering:
* a. 4.1 Create a new column "TotalPrice" = Quantity * Price.

In [77]:
from pyspark.sql.functions import col, year, month

retail_dropna = retail_dropna.withColumn("TotalPrice", col("Quantity") * col("Price"))
retail_dropna.show(5)

+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+------------------+
|Invoice|StockCode|         Description|Quantity|        InvoiceDate|Price|Customer ID|       Country|        TotalPrice|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+------------------+
| 489434|    85048|15CM CHRISTMAS GL...|      12|2009-12-01 07:45:00| 6.95|    13085.0|United Kingdom|              83.4|
| 489434|   79323P|  PINK CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|              81.0|
| 489434|   79323W| WHITE CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|              81.0|
| 489434|    22041|"RECORD FRAME 7""...|      48|2009-12-01 07:45:00|  2.1|    13085.0|United Kingdom|100.80000000000001|
| 489434|    21232|STRAWBERRY CERAMI...|      24|2009-12-01 07:45:00| 1.25|    13085.0|United Kingdom|              30.0|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+------------------+
only showing top 5 rows

* b. 4.2 Extract "Year" and "Month" from InvoiceDate.

In [78]:
retail_dropna = retail_dropna.withColumn("Year", year("InvoiceDate"))
retail_dropna = retail_dropna.withColumn("Month", month("InvoiceDate"))
retail_dropna.show(5)

+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+------------------+----+-----+
|Invoice|StockCode|         Description|Quantity|        InvoiceDate|Price|Customer ID|       Country|        TotalPrice|Year|Month|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+------------------+----+-----+
| 489434|    85048|15CM CHRISTMAS GL...|      12|2009-12-01 07:45:00| 6.95|    13085.0|United Kingdom|              83.4|2009|   12|
| 489434|   79323P|  PINK CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|              81.0|2009|   12|
| 489434|   79323W| WHITE CHERRY LIGHTS|      12|2009-12-01 07:45:00| 6.75|    13085.0|United Kingdom|              81.0|2009|   12|
| 489434|    22041|"RECORD FRAME 7""...|      48|2009-12-01 07:45:00|  2.1|    13085.0|United Kingdom|100.80000000000001|2009|   12|
| 489434|    21232|STRAWBERRY CERAMI...|      24|2009-12-01 07:45:00| 1.25|    13085.0|United Kingdom|              30.0|2009|   12|
+-------+---------+--------------------+--------+-------------------+-----+-----------+--------------+------------------+----+-----+
only showing top 5 rows

5. Segmentation by Spend:
   * 5.1 Group by "Customer ID" and compute:
      1. Total amount spent (sum(TotalPrice)).
      2. Number of unique purchases (countDistinct(Invoice)).

In [97]:
from pyspark.sql.functions import sum as _sum, countDistinct, when, col

# Group by CustomerID, compute total spent and unique purchases
customer_spend_df = retail_dropna.groupBy("Customer ID").agg(
    _sum("TotalPrice").alias("TotalSpent"),
    countDistinct("Invoice").alias("UniquePurchases")
)
customer_spend_df.show(10)

+-----------+------------------+---------------+
|Customer ID|        TotalSpent|UniquePurchases|
+-----------+------------------+---------------+
|    12467.0|132.79999999999998|              1|
|    13094.0| 2433.120000000001|             13|
|    17884.0|           3072.89|             20|
|    17633.0|           2057.39|              7|
|    14094.0|335.21999999999997|              1|
|    15893.0|305.28000000000003|              1|
|    14269.0|            295.73|              1|
|    16596.0|            579.63|              4|
|    14285.0|3284.4200000000005|              8|
|    16916.0|1123.3999999999996|              4|
+-----------+------------------+---------------+
only showing top 10 rows

   * 5.2 Create a new column "SpendingCategory":
      1. "High" if total spent ≥ 5000.
      2. "Medium" if total spent between 1000 and 4999.
      3. "Low" if total spent < 1000.

In [99]:
customer_spend_df = customer_spend_df.withColumn("SpendingCategory",
    when(col("TotalSpent") >= 5000, "High")
    .when((col("TotalSpent") >= 1000) & (col("TotalSpent") < 5000), "Medium")
    .otherwise("Low")
)

customer_spend_df.show(10)

+-----------+------------------+---------------+----------------+
|Customer ID|        TotalSpent|UniquePurchases|SpendingCategory|
+-----------+------------------+---------------+----------------+
|    12467.0|132.79999999999998|              1|             Low|
|    13094.0| 2433.120000000001|             13|          Medium|
|    17884.0|           3072.89|             20|          Medium|
|    17633.0|           2057.39|              7|          Medium|
|    14094.0|335.21999999999997|              1|             Low|
|    15893.0|305.28000000000003|              1|             Low|
|    14269.0|            295.73|              1|             Low|
|    16596.0|            579.63|              4|             Low|
|    14285.0|3284.4200000000005|              8|          Medium|
|    16916.0|1123.3999999999996|              4|          Medium|
+-----------+------------------+---------------+----------------+
only showing top 10 rows

6. Top Products per Segment: For each "SpendingCategory", find the top 3 most purchased products
(Description) based on total quantity sold.

In [103]:
from pyspark.sql.window import Window
from pyspark.sql.functions import rank
from pyspark.sql.functions import sum as _sum, desc

retail_with_segment = retail_dropna.join(
    customer_spend_df.select("Customer ID", "SpendingCategory"),
    on="Customer ID",
    how="inner"
)
agg_df = retail_with_segment.groupBy("SpendingCategory", "Description") \
    .agg(_sum("Quantity").alias("TotalQuantity"))
windowSpec = Window.partitionBy("SpendingCategory").orderBy(desc("TotalQuantity"))
ranked_df = agg_df.withColumn("rank", rank().over(windowSpec)) \
                  .filter("rank <= 3") \
                  .orderBy("SpendingCategory", "rank")
ranked_df.show(10, truncate=False)

+----------------+----------------------------------+-------------+----+
|SpendingCategory|Description                       |TotalQuantity|rank|
+----------------+----------------------------------+-------------+----+
|High            |WORLD WAR 2 GLIDERS ASSTD DESIGNS |81064        |1   |
|High            |PAPER CRAFT , LITTLE BIRDIE       |80995        |2   |
|High            |MEDIUM CERAMIC TOP STORAGE JAR    |76938        |3   |
|Low             |WHITE HANGING HEART T-LIGHT HOLDER|5663         |1   |
|Low             |ASSORTED COLOUR BIRD ORNAMENT     |5596         |2   |
|Low             |WORLD WAR 2 GLIDERS ASSTD DESIGNS |5255         |3   |
|Medium          |WHITE HANGING HEART T-LIGHT HOLDER|23031        |1   |
|Medium          |WORLD WAR 2 GLIDERS ASSTD DESIGNS |22850        |2   |
|Medium          |ASSORTED COLOUR BIRD ORNAMENT     |18007        |3   |
+----------------+----------------------------------+-------------+----+

7. Country-Wise Trends: For "High" spenders only, group by "Country" and "Month" to compute total
monthly revenue, then sort by revenue in descending order.

In [105]:
from pyspark.sql.functions import sum as _sum, desc
high_spenders = customer_spend_df.filter(customer_spend_df.SpendingCategory == "High") \
    .select("Customer ID")
high_spender_data = retail_dropna.join(high_spenders, on="Customer ID", how="inner")
country_month_revenue = high_spender_data.groupBy("Country", "Month") \
    .agg(_sum("TotalPrice").alias("MonthlyRevenue")) \
    .orderBy(desc("MonthlyRevenue"))
country_month_revenue.show(20)

+--------------+-----+------------------+
|       Country|Month|    MonthlyRevenue|
+--------------+-----+------------------+
|United Kingdom|   12|1316294.5299999611|
|United Kingdom|   11|1131980.5420000148|
|United Kingdom|   10| 971379.4000000211|
|United Kingdom|    9| 911588.8200000225|
|United Kingdom|    6| 690826.6600000109|
|United Kingdom|    8| 669594.8600000055|
|United Kingdom|    5| 667010.6400000058|
|United Kingdom|    3| 663415.7900000121|
|United Kingdom|    7|  655336.480000006|
|United Kingdom|    1| 609604.0210000053|
|United Kingdom|    4|  563538.952000006|
|United Kingdom|    2| 481349.2130000065|
|          EIRE|    1| 86626.89999999985|
|          EIRE|    9| 77344.62000000008|
|          EIRE|    7| 72892.38000000002|
|   Netherlands|    9| 69950.06999999998|
|          EIRE|   10|          68247.78|
|   Netherlands|    8|63600.889999999985|
|   Netherlands|   11| 59256.53999999999|
|          EIRE|   11|57191.140000000065|
+--------------+-----+------------------+
only showing top 20 rows

8. Save Results: Save both the customer segmentation table and the top products table as separate
Parquet files.

In [108]:
customer_spend_df.write.mode("overwrite").parquet("/content/drive/MyDrive/SCHOOLFILES/CPE31/CPE032/HOA1.2/output/customer_segmentation.parquet")

In [109]:
ranked_df.write.mode("overwrite").parquet("/content/drive/MyDrive/SCHOOLFILES/CPE31/CPE032/HOA1.2/output/top_products_per_segment.parquet")

[parquet outputs](https://drive.google.com/drive/folders/1vAE6J2L1HrR4yrx_3HpUkiHDEg-Sad7d?usp=sharing)